<h1>Edit <%= @night.name %> </h1>

<% @night.users.each do |user| %>
  <p><%= user.first_name %> <%= user.last_name %> </p> <%= button_to "Uninvite from Night Out", remove_night_path(@night.id, user.id), :method => 'delete', :class => "btn btn-dark" %>
<% end %>

<br>

<%= form_for @night do |f| %>
<div class="form-group">
  <%= f.label :user_id  %>
  <%= f.select :user_ids, User.pluck(:first_name, :id) %>
</div>

  <%= f.submit "Invite to #{@night.name}", :class => "btn btn-dark" %>

<% end %>
