<h1><%= @night.name %></h1>

<h2>Who's coming?</h2>
  <% @night.users.each do |u| %>
    <p><%= u.first_name %> <%= u.last_name %></p>
  <% end %>

<h2>Where are we going?</h2>
  <% @users.each do |u| %>
    <% u.favourites.each do |f| %>
      <% f.venues.each do |v| %>
        <p><%= v.name %></p>
      <% end %>
    <% end %>
  <% end %>

<h4>does this work</h4>
  <% @venues.each do |v| %>
    <p><%= link_to v, venue_path(v) %></p>
  <% end %>


<div class="controls">
  <%= link_to "Edit Your Night Out", edit_night_path(@night) %>
  <%= button_to "Delete Your Night Out", night_path, :method => 'delete', :data => {:confirm => 'Are you sure you want to delete your night out?'}  %>
</div>
