<!DOCTYPE html>
<!--
__          __  _                            _______      _____  _
\ \        / / | |                          |__   __|    |  __ \(_)
 \ \  /\  / /__| | ___ ___  _ __ ___   ___     | | ___   | |  | |_ _ __  _ __  _ __
  \ \/  \/ / _ \ |/ __/ _ \| '_ ` _ \ / _ \    | |/ _ \  | |  | | | '_ \| '_ \| '__|
   \  /\  /  __/ | (_| (_) | | | | | |  __/    | | (_) | | |__| | | | | | | | | |
    \/  \/ \___|_|\___\___/|_| |_| |_|\___|    |_|\___/  |_____/|_|_| |_|_| |_|_|


 -->
<html>
  <head>
    <title>Dinnr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
      <nav class='navbar navbar-dark bg-primary'>
        <%= link_to "Dinnr", root_path, :class => 'navbar-brand' %>
        <% if @current_user.present? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Night Out", nights_path %></li>
            <li><%= link_to "Your Favourites", favourites_path %></li>
            <li><%= link_to "Venues", venues_path %></li>
            <li><%= link_to "Log Out #{ @current_user.email }", login_path, :method => 'delete' %></li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <%= link_to "Log In", login_path %>
            <%= link_to "Sign Up", new_user_path %>
          </ul>
        <% end %>
      </nav>

    <%= yield %>

    </div>
  </body>
</html>
<!--
.______   ____    ____     __       __________   ___    .______     ______    __    __   __          _______. _______ .__   __.
|   _  \  \   \  /   /    |  |     |   ____\  \ /  /    |   _  \   /  __  \  |  |  |  | |  |        /       ||   ____||  \ |  |
|  |_)  |  \   \/   /     |  |     |  |__   \  V  /     |  |_)  | |  |  |  | |  |  |  | |  |       |   (----`|  |__   |   \|  |
|   _  <    \_    _/      |  |     |   __|   >   <      |   ___/  |  |  |  | |  |  |  | |  |        \   \    |   __|  |  . `  |
|  |_)  |     |  |        |  `----.|  |____ /  .  \     |  |      |  `--'  | |  `--'  | |  `----.----)   |   |  |____ |  |\   |
|______/      |__|        |_______||_______/__/ \__\    | _|       \______/   \______/  |_______|_______/    |_______||__| \__|

-->
