<!DOCTYPE html>
<html>
  <head>
    <title>Dinnr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container">
      <nav class='navbar navbar-dark bg-primary'>
        <%= link_to "Dinnr", root_path, :class => 'navbar-brand' %>
        <% if @current_user.present? %>
          <ul class="nav navbar-nav">
            <li><%= link_to "Night Out", nights_path %></li>
            <li><%= link_to "Venues", venues_path %></li>
            <li><%= link_to "Your Favourites", favourites_path %></li>
            <li><%= link_to "Log Out #{ @current_user.email }", login_path, :method => 'delete' %></li>
        </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <%= link_to "Log In", login_path %>
            <%= link_to "Sign Up", new_user_path %>
          </ul>
        <% end %>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
